<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Mail Archive</label>
    <label lang="de">Mail Archive</label>

    <version>1.0.1</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://github.com/FriendsOfShopware/FroshMailArchive</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.2.0" />

	<description><![CDATA[
<p>This plugins adds an MailArchive to your Shopware-Backend</p>

<h3 id="features">Features</h3>

<ul>
<li>Download Mail as EML-File</li>
<li>Search Mails</li>
<li>shows notification for new mails, if accepted</li>

</ul>

<h2 id="contributing">Contributing</h2>
<p>Feel free to fork and send <a href="https://github.com/FriendsOfShopware/FroshMailArchive" target="_blank">pull requests</a>!</p>

<p>Please note: FroshMailArchive won't catch your mails, to prevent sending mails from your shop! Use MailCatcher for this job, as it is a job in developing-state.</p>

        ]]>
    </description>

    <description lang="de"><![CDATA[
<p>Mit diesem Plugin erhalten Sie ein einfaches durchsuchbares Archiv für E-Mails, die aus Shopware versendet werden.<br>
    Die E-Mails sind über den Menüpunkt "Einstellungen" -> "MailArchive" auffindbar.</p>

<h3 id="features">Features</h3>

<ul>
<li>Download Mail als EML-Datei</li>
<li>Durchsuche Mails</li>
<li>Zeigt Benachrichtigung auf dem Desktop, sofern akzeptiert</li>

</ul>

        ]]>
    </description>

    <changelog version="1.0.1">
        <changes lang="de">Verbesserte Vorschau</changes>
        <changes>Optimize preview</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes>Release</changes>
    </changelog>

</plugin>
