<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>TinectMailArchive</label>

    <version>1.0.1</version>
    <copyright>(c) by tinect</copyright>
    <license>MIT</license>
    <link>https://github.com/tinect/TinectMailArchive</link>
    <author>tinect</author>
    <compatibility minVersion="5.2.0" />

	<description><![CDATA[

<p>This plugins adds an MailArchive to your Shopware-Backend</p>

<h3 id="features">Features</h3>

<ul>
<li>Download Mail as EML-File</li>
<li>Search Mails</li>
<li>shows notification for new mails, if accepted</li>

</ul>

<h3 id="plannedfeatures">Planned Features</h3>

<ul>
<li>...idea?</li>
</ul>

<p>Thanks to <a href="https://github.com/FriendsOfShopware/FroshMailCatcher" target="_blank">@FroshMailCatcher</a> for your work!</p>

<h2 id="contributing">Contributing</h2>

<p>Feel free to fork and send <a href="https://github.com/tinect/TinectMailArchive" target="_blank">pull requests</a>!</p>
        ]]>
    </description>

    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[
        - Tooltips bei den Mails<br/>
        - Bestätigungsfenster beim Leeren des Archivs<br/>
        - Optimiere Größe der Fenster<br/>
        ]]></changes>
        <changes><![CDATA[
        - Tooltips in maillist<br/>
        - add conformMessageBox before clearing archive<br/>
        - set maxwidth for mail-container<br/>
        ]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes>Release</changes>
    </changelog>

    <changelog version="0.0.1">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes>First release</changes>
    </changelog>

</plugin>
